
      
      body {
        margin: 0;
        padding: 0;
        text-align: center;
        background-image: url(summonersrift.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
      }
      h1,h2,p ,td{
        color: azure;
        position: relative;
        text-align: center;
      }
      h1 {
        margin-top: 20vh;
        margin-bottom: 15vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      h2{
        margin-top: 10;
        
        clear: both;
      }
      p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 1vh;
      }
      #styl1 { 
        text-align: left;
        width: auto;
      }
      
      .image-wrapper {
        float: left;
  display: inline-block;
  vertical-align: top;
}

      

img{
    text-align: left;
    padding-right: calc((100vw - 100%) / 2);
}

